/* font */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* imported componants */
/* @import url("/components/buttons-K.css");
@import url("/components/navbar-K.css");
@import url("/components/SearchBox-K.css"); */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}
body {
  font-size: 1rem;
}
h1 {
  color: green;
}
