/* font */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* imported componants */
@import url("/css/components/studentpath.css");
@import url("/css/components/pricing.css");
@import url("/css/components/navbar-style.css");
@import url("/css/components/footer-style.css");
/*@import url("/components/SearchBox-K.css"); */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}
body {
  font-size: 1rem;
}
h1 {
  color: #666;
}
h4 {
  color: #666;
}
.card-title:hover {
  background-color: #2ecc71;
  color: #fff;
}

.logo {
  width: 1em;
}
